:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --accent-color: #f9b300;
}

body {
  color: var(--primary-text-color);
  background: var(--secondary-text-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3;
  background-image: url(../img/hero_bg.png);
  background-repeat: no-repeat;
  background-position: right top;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.section-title {
  font-weight: 900;
  font-size: 50px;
  line-height: 1.24;
}

.button {
  display: inline-block;
  background: var(--accent-color);
  border-radius: 5px;
  color: var(--secondary-text-color);
}

/* Header */

.header-logo {
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-nav {
  display: flex;
}

.site-nav-link {
  padding-top: 50px;
  padding-bottom: 50px;

  font-weight: 500;
  font-size: 25px;
  line-height: 1.16;
}

.site-nav-item:not(:last-child) {
  margin-right: 100px;
}

.site-nav:hover,
.site-nav:focus {
}

.aut-nav {
  display: flex;
}

.aut-nav:hover,
.aut-nav:focus {
}

.aut-nav-item:not(:last-child) {
  margin-right: 20px;
}

.aut-nav-link {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.aut-nav-icon {
  width: 40px;
  height: 40px;
}

.aut-nav-icon:hover {
  fill: var(--secondary-text-color);
}

/* Hero */

.hero-container {
  padding-top: 120px;
  padding-bottom: 250px;
}

.hero-title {
  margin-bottom: 60px;
  font-weight: 900;
  font-size: 80px;
  line-height: 1.25;
}

.hero-desc {
  max-width: 600px;
  margin-bottom: 90px;
}

.hero-desc-text {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.3;
}

.hero-desc-text:not(:last-child) {
  margin-bottom: 40px;
}

.hero-link {
  max-width: 400px;
  padding: 22px 52px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
}

/* Catalog */
.catalog-title {
  margin-bottom: 80px;
}

.catalog-list {
  display: flex;
}

.catalog-item {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
  border-radius: 20px;
  width: 400px;
  padding: 50px 50px 145px;
}

.catalog-item:not(:last-child) {
  margin-right: 20px;
}
.catalog-img-title {
  text-align: center;
}
.catalog-box {
  display: flex;
  align-items: center;

  height: 364px;
}
.catalog-img {
  margin: 0 auto;
}

/* Discount */

.discount {
  padding-top: 90px;
}

/* .discount-cover {
  max-width: 800px;
  text-align: right;
  margin-left: auto;
} */

.discount-title {
  font-weight: 900;
  font-size: 50px;
  line-height: 1.24;
  margin-bottom: 50px;
  text-align: right;
}

.discount-desc {
  max-width: 1100px;
  margin-left: auto;
  margin-bottom: 80px;
  text-align: right;

  font-weight: 500;
  font-size: 25px;
  line-height: 1.3;
}

.discount-list {
  display: flex;
}

.discount-item {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(146, 146, 146, 0.25);
  border-radius: 20px;
}

.discount-prod {
  display: flex;
}

/* Benefits */
.overlay {
  max-width: 1900px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../img/overlay.png');
  margin-right: auto;
  margin-left: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.benefits {
  display: flex;
  padding-bottom: 285px;
}
.benefits-title {
  margin-bottom: 80px;
}

.benefits-img {
  background-image: url('../img/benefits_img.png');
  width: 750px;
  height: 600px;
}

.benefits-item:not(:last-child) {
  margin-bottom: 60px;
}
.benefits-item-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.benefits-item-desc {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.3;
}

.benefits-item::before {
  content: '';
  display: inline-block;
  height: 85px;
  width: 85px;
  background-image: url('../img/Group\ 40.png');
  margin-right: 50px;
  background-repeat: no-repeat;
}

/* Story */

/* Subscription */
.subscription {
  padding-top: 255px;
}

.subscription-title {
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 50px;
  line-height: 1.24;
}
.subscription-desc {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.3;
  max-width: 760px;
}
